h1 {
    text-align: center;
    color: blue;
}

h2 {
    color: blueviolet;
}

h3 {
    color: darkslategray;
}

ul {
    list-style-type: square;
}

p {
    color: darkslateblue;

}

.underlined {
    text-decoration: underline;
}

.source {
    text-align: right;
}